body {
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  font-size: 14px;
  margin:0px;
}

p {
  line-height:30px;
  padding-left:15px;
  padding-right:15px;
  padding-bottom:5px;
}

.home-head { 
  background-color:#cccc33;
  width:100%;
  padding-top:140px;
  padding-bottom:40px;
  margin:0px;
  text-align:center;
  clear:both;
}
.head-first {
  font-size:250%;
  border:6px outset #339933;
  padding:10px;
  color:#003366;
  letter-spacing:2px;
  width:fit-content;
  margin-right:auto;
  margin-left:auto;
}
.head-last {
  margin-top:10px;
  font-size:18px;
  font-weight:bold;
  padding: 10px;
  border:2px dashed #cc3300;
  color:#003366;
  width:fit-content;
  margin-right:auto;
  margin-left:auto;
}
.sub-head {
  background-color:#66aaff;
  color: #003366;
  width:90%;
  padding-top:100px;
  padding-bottom:10px;
  margin:auto;
  text-align:center;
  clear: both;
}
.sub-first {
  font-size:150%;
  padding:10px;
  letter-spacing:2px;
  margin-right:auto;
  margin-left:auto;
}

.navbar {
    font-size:small;
    color:#003366;
    background-color:#ffffffff;
    position:fixed;
    top:0;
    width: 100%;
    margin:0px;
    padding:0px;
    overflow: hidden;
  }
  .navbar-sitename {
    font-weight:bolder;
    font-size:150%;
    text-align:left;
    padding-left:15px;
    padding-right:15px;
    padding-top:15px;
    padding-bottom:5px;
  }
  .navbar-list {
    text-align:right;
    padding-left:15px;
    padding-right:15px;
    padding-bottom:15px;
  }
  .navbar a {
    display: inline;
    color: #003366;
    text-align: center;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    font-size: 17px;
  }
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  .navbar-active {
    background-color: #ff9900;
  }
  .navbar-collapse {
    display: none;
  }
  .dropbtn {
    background-color: #ff9900;
    color: #003366;
    padding: 5px 25px;
    font-size: 16px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: relative;
    right: 0;
    background-color: #fff;
  }
  .dropdown-content a {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {
    background-color: #66aaff;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }

img {
    width: 200px;
    height: 200px;
}

td {
    text-align: center;
}

footer {
	padding:20px 50px 20px 50px;
	text-align:right;
	border-top:1px solid #003366;
	color: #003366;
}