.navbar {
    font-size:small;
    color:#003366;
    background-color:#fff;
    position:fixed;
    top:0;
    width: 100%;
    margin:0px;
    padding:0px;
    overflow: hidden;
  }
  .navbar-sitename {
    font-weight:bolder;
    font-size:larger;
    text-align:left;
    padding-left:15px;
    padding-right:15px;
    padding-top:15px;
    padding-bottom:5px;
  }
  .navbar-list {
    text-align:right;
    padding-left:15px;
    padding-right:15px;
    padding-bottom:15px;
  }
  .navbar a {
    display: inline;
    color: #003366;
    text-align: center;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    font-size: 17em;
  }
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  .navbar-active {
    background-color: #ff9900;
  }
  .navbar-collapse {
    display: none;
  }
  .dropbtn {
    background-color: #ff9900;
    color: #003366;
    padding: 5px 25px;
    font-size: 16px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: relative;
    right: 0;
    background-color: #fff;
  }
  .dropdown-content a {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {background-color: #66aaff;}
  .dropdown:hover .dropdown-content {display: block;}

img {
    width: 200px;
    height: 200px;
}

td {
    text-align: center;
}